body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: beige;
}

#popup-button {
    margin: 32px;
    padding: 12px 6px;
    background-color: rgb(220, 230, 194);
    cursor: pointer;
}

#container {
    width: 640px;
    display: flex;
    flex-wrap: wrap;
}

#container div {
    background-color: white;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    transition: background-color 0.5s ease;
}